#container{
    display: grid;
    height: 300px;
    width: 250px;
    gap: 10px;
    grid-template-columns: 50px 50px ;
    grid-template-rows:  50px 100px 100px;
}
#item1{
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 5;

}
#item2{
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
}
#item3{
    
    background-color: black;
    grid-row-start: 2;
    grid-row-end: 5;


}