#container{
    display: grid;
    height: 300px;
    width: 300px;
    gap: 10px;
    grid-template-columns: 50px 150px;
    grid-template-rows: 100px 100px;
}
#item1{
grid-row-start: 1;
grid-row-end: 4;
background-color: black;
}
#item2{
grid-row-start: 1;
grid-row-end: 4;
background-color: black;
}