#container{
    display: grid;
    height: 300px;
    width: 200px;
    gap: 10px;
    grid-template-columns: 50px 50px 50px ;
    grid-template-rows:  50px 100px 100px;
}
#item1{
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 2;

}
#item2{
    background-color: black;
    grid-row-start: 2;
    grid-row-end: 4;
}
#item3{
    background-color: black;
    grid-row-start: 2;
    grid-row-end: 4;
    
}
#item4{
    background-color: black;
    grid-row-start: 2;
    grid-row-end: 4;
    
}

#item5{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: black;
}