#container{
    display: grid;
    height: 300px;
    width: 200px;
    gap: 10px;
    grid-template-columns: 50px 150px 50px ;
    grid-template-rows:  50px 200px 100px;
}
#item1{
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 4;

}
#item2{
    background-color: black;
    grid-row-start: 2;
    grid-row-end: 5;
}
#item3{
    background-color: black;
    grid-row-start: 2;
    grid-row-end: 5;
    
}
#item4{
    background-color: black;
    grid-row-start: 2;
    grid-row-end: 5;
    
}