#box{
    display: grid;
    height: 220px;
    width: 200px;
    gap: 10px;
    grid-template-rows: 50px 50px 50px 50px;
    grid-template-columns: 50px 50px  50px ;
}
#i1{
background-color: black;
grid-column: 1 / 3;
}
#i2{
    background-color: black;
grid-row: 2 / 4;

}
#i3{
    background-color: black;
    grid-row: 2 / 4; 
}
#i4{
    background-color: black;
    grid-row: 1 / 6;

    }
#i5{
    background-color: black;
grid-column: 1/3;
}