#container{
    display: grid;
    grid-template-columns: 50px 130px ;
    grid-template-rows: 50px 100px 50px;
    gap: 10px;

}
#item1{
background-color: black;
grid-column-start: 1;
grid-column-end: 3;
}
#item2{
    background-color: black;
    
}
#item3{
    background-color: black;
}
#item4{
    
background-color: black;
grid-column-start: 1;
grid-column-end: 3;
}
